.about {
  display: flex;

  &__left-box {
    flex: .75;

    h2 {
      @include beforeContent('<h2>');
      @include afterContent('</h2>');
    }

    p {
      @include beforeContent('<p>');
      @include afterContent('</p>');
    }
  }

  &__right-box {
    flex: 1;
  }
}

.moveUp {
  transform: translateY(-50px);
}

