.blog {
  position: relative;
  display: flex;
  flex-direction: column;
  &__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30rem;
    transform: translateY(-90%);
    opacity: .2;

    img {
      width: inherit;
      height: inherit;
    }
  }

  &__article {
    @include beforeContent('<article>');
    @include afterContent('</article>');
  }

  &__context {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-column-gap: 10rem;
    grid-row-gap: 5rem;
    padding: 0 2rem;
  }

  &__read-more{
    align-self: flex-end;
    //justify-self: flex-end;
  }

  h1 {
    transition: all .2s;

    &:hover {
      color: $color-primary;
    }
  }

  h6 {
    font-family: $font-Lato;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    color: white;
  }
}