.contact {
  display: flex;

  &__text {
    flex: 1;
  }

  &__form {
    //background-color: #019e86;
  }

  &__map {
    flex: 1;
    position: relative;
  }

  //&__map-overlay {
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-color: rgba($color-primary,.3);
  //  z-index: 10;
  //}

  h2 {
    @include beforeContent('<h2>');
    @include afterContent('</h2>');
  }

  p {
    @include beforeContent('<p>');
    @include afterContent('</p>');
  }
}