.form {
  display: flex;
  flex-direction: column;
  @include beforeContent('<form>');
  @include afterContent('</form>');

  &__group {
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 1rem;
    }

    &:first-child {
      margin-right: 1rem;
    }
  }

  &__double-group {
    display: flex;
  }

  &__field {
    display: inline-block;
    width: 100%;
    border-radius: 2px;
    padding: 1.5rem 2rem;
    background-color: $color-darker-gray;
    border: none;
    border-bottom: 3px solid transparent;
    transition: all .3s;
    color: $color-white;
    font-size: 2rem;
    font-family: inherit;

    &:focus {
      outline: none;
      border-bottom: 3px solid $color-primary;
      box-shadow: 0 1rem 2rem rgba($color-white, .1);

      &:invalid {
        border-bottom: 3px solid $color-secondary;
      }
    }
  }

  &__label {
    font-size: 1.5rem;
    font-weight: 700;
    margin-left: 2rem;
    margin-top: .7rem;
    display: block;
    transition: all .3s;
  }

  &__field:placeholder-shown + &__label {
    opacity: 0;
    visibility: hidden;
    transform: translateY(-4rem);
  }

  &__name {
  }

  &__email {

  }

  &__subject {

  }

  &__message {

  }
}