.header {
  font-family: $font_file;
  height: 95vh;
  //display: flex;
  //flex-direction: column;
  //z-index: 2;
  position: relative;

  #c {
    top: 0;
    left: 0;
    z-index: 1;
    position: absolute;
    border-radius: 5px;
  }

  &__container {
    top: 0;
    left: 0;
    z-index: 2;
    position: absolute;
  }

  &__typo {
    @include beforeContent('<h1>');
    @include afterContent('</h1>');
    letter-spacing: .6rem;
  }

  &__para {
    @include beforeContent('<p>');
    @include afterContent('</p>');
    letter-spacing: 1.5px;
    font-size: 2.5rem;

    span {
      font-family: inherit;
    }
  }

  &__btn {
    //font-family: inherit;
    //flex: 1
    //display: block;
    //position: relative;
  }

  &__scroll {
    position: relative;
    width: calc(100vw - 16rem);
  }

  &__scrollDown {
    transform: rotate(90deg) translateX(6rem);
    animation: MoveUpDown 1s linear infinite;
    position: absolute;
    bottom: 0;

    &--left {
      left: 0;
      margin-left: -5rem;
    }

    &--right {
      margin-right: 1rem;
      right: 0;
    }
  }
}

