.content {
  @include beforeContent('<html>');
  @include afterContent('</html>');
  overflow: hidden;
}

.content-body {
  @include beforeContent('<body>');
  @include afterContent('</body>');
}

.aside {
  background-color: #161616;
  font-size: 2rem;
  color: wheat;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.logo {
  z-index: 10;
  width: 100px;
  height: 100px
}

.item {
  &__link{
    display: flex;
  }
  &:hover svg,
  &:hover span, {
    color: #08fdd8
  }
}

.MuiListItemIcon-root.icon {
  color: wheat;

  & svg {
    font-size: 2.5rem
  }
}

.text {
  & span {
    color: wheat;
    font-size: 1.7rem
  }
}

.MuiListItem-root.social {
  display: flex;
  justify-content: space-between
}

.MuiSvgIcon-root.socialIcon {
  transition: all .2s;
  font-size: 2rem;

  &:hover {
    color: #08fdd8;
    transform: scale(1.3)
  }
}

.active {
  color: $color-primary;
}