.portfolio {
  position: relative;

  h2 {
    @include beforeContent('<h2>');
    @include afterContent('</h2>');
    z-index: 10;
  }

  p {
    @include beforeContent('<p>');
    @include afterContent('</p>');
    z-index: 10;
  }

  &__cover {
    display: flex;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
    height: 300px;
    margin-top: 10%;
    opacity: .2;
    //&--left {
    //  flex: 1;
    //  z-index: -100;
    //  //width: 50%;
    //  //background-color: green;
    //  visibility: hidden;
    //  opacity: 0;
    //}

    //&--right {
    //  flex: 1;
    //  //width: 50%;
    //  display: flex;
    //  justify-content: flex-end;
    //  //height: 100%;
    //  //z-index: -5;
    //  //visibility: hidden;
    //  //opacity: 0;
    //  //background-color: blue;
    //
    //  img {
    //    margin-top: 15%;
    //    width: 100%;
    //    height: 70%;
    //    opacity: .2;
    //    //z-index: -10;
    //    //background-color: red;
    //  }
    //}
  }

  &__gallery {
    display: grid;
    grid-gap: 0;
    grid-template-columns: repeat(5, auto);
    //grid-template-rows: repeat(2,1fr);
  }

  &__container {
    position: relative;
  }

  &__box {
    opacity: .5;
    width: 27.5rem;
    height: 25rem;
    overflow: hidden;
    transition: all 1s;

    img {
      width: inherit;
      height: inherit;
      transition: all 1s;
    }
  }

  &__overlay {
    font-family: $font_file;
    color: $color-black;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 5rem;
    height: 5rem;
    font-size: 1rem;
    border-radius: 50%;
    margin: auto;
    background-color: $color-primary;
    opacity: 0;
    transition: all .3s;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__container:hover > &__box {
    opacity: 1;

    img {
      transform: scale(1.3);
    }
  }

  &__container:hover > &__overlay {
    opacity: .8;
    backface-visibility: hidden;
    transform: scale(2);
  }
}

.context {
  margin: 0 -3rem;
  @include beforeContent_ml('<section>');
  @include afterContent_ml('</section>');
}