.button-container-2 {
  position: relative;
  width: 12rem;
  height: 4rem;
  //margin-left: auto;
  //margin-right: auto;
  margin-top: 2vh;
  overflow: hidden;
  border: 1px solid $color-primary;
  font-family: $font_file;
  font-weight: 300;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 8px;

  button {
    width: 101%;
    height: 100%;
    font-family: $font_file;
    font-size: 1.5rem;
    letter-spacing: 1.7px;
    font-weight: bold;
    @include button($color-primary,
            "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
            3000%, 100%, none, $color-black);
    cursor: pointer;
    -webkit-animation: ani2 0.7s steps(29) forwards;
    animation: ani2 0.7s steps(29) forwards;

    &:hover {
      -webkit-animation: ani 0.7s steps(29) forwards;
      animation: ani 0.7s steps(29) forwards;
    }
  }
}

.mas {
  position: absolute;
  color: $color-primary;
  text-align: center;
  width: 101%;
  font-family: $font_file;
  font-size: 1.5rem;
  margin-top: 1rem;
  overflow: hidden;
  font-weight: bold;
}
