@mixin clearfix {
  &::after {
    content: "";
    clear: both;
    display: table;
  }
}

@mixin button($bcolor,$url,$x1,$y1,$bor,$col) {
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

@mixin beforeContent($element) {
  &::before {
    content: $element;
    display: block;
    font-family: $font_LaBelle;
    font-size: 2rem;
    color: $color-gray-dark;
    letter-spacing: 0.2rem;
  }
}

@mixin afterContent($element) {
  &::after {
    content: $element;
    display: block;
    font-family: $font_LaBelle;
    font-size: 2rem;
    color: $color-gray-dark;
    letter-spacing: .2rem;
  }
}

@mixin beforeContent_ml($element) {
  &::before {
    margin-left: 3rem;
    content: $element;
    display: block;
    font-family: $font_LaBelle;
    font-size: 2rem;
    color: $color-gray-dark;
    letter-spacing: 0.2rem;
  }
}

@mixin afterContent_ml($element) {
  &::after {
    margin-left: 3rem;
    content: $element;
    display: block;
    font-family: $font_LaBelle;
    font-size: 2rem;
    color: $color-gray-dark;
    letter-spacing: .2rem;
  }
}