//Colors
$color-primary: #08fdd8;
$color-primary-hover: darken($color-primary, 20%);
$color-black: #000;
$color-white: #fff;
$color-gray: #8d8d8d;
$color-gray-light:#ccc;
$color-gray-dark: #515152;
$color-gray-overlay:#212121;
$color-gray-darker: #1d1d1d;
$color-darker-gray: #2b2b2b;
$color-secondary: #fd1056;
$color-gold: #ffbc00;
//Font
$font-Roboto: 'Roboto', sans-serif;
$font-Lato: 'Lato', sans-serif;
$font_LaBelle: 'La Belle Aurore', cursive;
$font_file: 'font-file-82132', 'Roboto', sans-serif;

$test:#161616