.skills {
  display: flex;

  &__left {
    flex: 1;

    h2 {
      @include beforeContent('<h2>');
      @include afterContent('</h2>');
    }

    p {
      @include beforeContent('<p>');
      @include afterContent('</p>');
    }
  }

  &__right {
    flex: 1;
  }

  &__items {
    margin-bottom: 2rem;
  }

  &__item {
    margin-bottom: 2rem;

    p {
      font-size: 2rem;
    }

    .progress {
      height: 1rem;
      width: 100%;
      border-radius: .5rem;
      background-color: $color-gray-light;

      > div {
        height: 1rem;
        background-color: $color-gold;
        border-radius: .5rem;
      }
    }
  }

  &__boxes {
    display: flex;
    margin-top: 7rem;
  }

  &__box {
    background-color: $color-darker-gray;
    padding: 2rem;
    font-size: .5rem;
    & > *{
      padding: .5rem;
      margin: 0;
    }
    &:not(:last-child){
      margin-right: 2rem;
    }
  }
}