.wall {
  &__container {
    margin: 3rem;
    background-color: $color-gray-overlay;
    display: flex;
    border-radius: 5px;
    padding: 4rem 2rem;
  }

  &__articles {
    flex: 1;
  }

  &__article {
    @include beforeContent('<article>');
    @include afterContent('</article>');
  }

  &__sidebar {
    flex: .4;
  }

  &__tags {
    @include beforeContent('<tags>');
    @include afterContent('</tags>');
  }

  h1 {
    transition: all .2s;

    &:hover {
      color: $color-primary;
    }
  }

  h6 {
    font-family: $font-Lato;
    font-size: 1.5rem;
    letter-spacing: .3rem;
    color: white;
  }
}