.weblog {
  &__container {
    margin: 3rem;
    background-color: $color-gray-overlay;
    display: flex;
    border-radius: 5px;
    padding: 4rem 2rem;
  }

  &__article {
    flex: 1;
    @include beforeContent('<article>');
    @include afterContent('</article>');

    &--cover {
      width: 80rem;
      img{
        width: 80rem;
        height: 40rem;
      }
    }
  }

  &__sidebar {
    flex: .4;
  }

  &__tags {
    @include beforeContent('<tags>');
    @include afterContent('</tags>');
  }

  h1 {
    @include beforeContent('<h1>');
    @include afterContent('</h1>');
  }

  h2 {
    @include beforeContent('<h2>');
    @include afterContent('</h2>');
  }

  p {
    @include beforeContent('<p>');
    @include afterContent('</p>');
  }
}