.work__container {
  position: absolute;
  top: 60px;
  left: 160px;
  width: 89.5%;
  height: 91.5%;
  overflow: hidden;
}

#uk-transition-slide-bottom-small {
  border-radius: 50%;
  background-color: $color-primary;
  width: 5rem;
  height: 5rem;
  font-size: 1rem;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem;

  &:hover {
    opacity: .8;
    backface-visibility: hidden;
    transform: scale(1.5);
  }
}



