.p {
  &-top {
    &-small {
      padding-top: 1.5rem;
    }

    &-medium {
      padding-top: 2rem;
    }

    &-big {
      padding-top: 3rem;
    }
  }

  &-bottom {
    &-small {
      padding-bottom: 1.5rem;
    }

    &-medium {
      padding-bottom: 2rem;
    }

    &-big {
      padding-bottom: 3rem;
    }
  }

  &-right {
    &-small {
      padding-right: 1.5rem;
    }

    &-medium {
      padding-right: 2rem;
    }

    &-big {
      padding-right: 3rem;
    }
  }

  &-left {
    &-xsmall {
      padding-left: .5rem;
    }

    &-small {
      padding-left: 1.5rem;
    }

    &-medium {
      padding-left: 2rem;
    }

    &-big {
      padding-left: 3rem;
    }
  }
}

.m {
  &-top {
    &-small {
      margin-top: 1.5rem;
    }

    &-medium {
      margin-top: 2rem;
    }

    &-big {
      margin-top: 3rem;
    }
  }

  &-bottom {
    &-small {
      margin-bottom: 1.5rem;
    }

    &-medium {
      margin-bottom: 2rem;
    }

    &-big {
      margin-bottom: 3rem;
    }
  }

  &-right {
    &-small {
      margin-right: 1.5rem;
    }

    &-medium {
      margin-right: 2rem;
    }

    &-big {
      margin-right: 3rem;
    }
  }

  &-left {
    &-small {
      margin-left: 1.5rem;
    }

    &-medium {
      margin-left: 2rem;
    }

    &-big {
      margin-left: 3rem;
    }
  }
}

.block {
  display: block
}

.text-gray {
  color: $color-gray;
}

.text-center {
  text-align: center;
}

.primary-color {
  color: $color-primary;
}

.secondary-color {
  color: $color-secondary;
}

.white-color {
  color: $color-white !important;
}

.lato-italic {
  font-style: italic;
  font-family: $font-Lato;
}

.title-big {
  font-size: 8.2rem !important;
  line-height: 7.8rem !important;
  font-weight: 800 !important;
}

.title-medium {
  font-size: 6rem !important;
  font-weight: 500 !important;
  line-height: 5.5rem;
}

.title-small {
  font-size: 3.7rem !important;
  font-weight: 300 !important;
  line-height: 3.7rem;
}

.lead {
  font-size: 2rem;
}

.font-file-space {
  font-family: $font_file;

  &-sm {
    letter-spacing: .15rem;
  }

  &-md {
    letter-spacing: .3rem;
  }

  &-lg {

  }
}

.blast {
  opacity: 0;
  display: inline-block;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;

  &:hover {
    color: $color-primary;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
}

.blast-reverse {
  opacity: 0;
  display: inline-block;
  -webkit-transition: all .1s ease-out;
  -o-transition: all .1s ease-out;
  transition: all .1s ease-out;

  &:hover {
    color: $color-white;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-name: rubberBand;
    animation-name: rubberBand;
  }
}

.bounceIn {
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
  -webkit-animation-duration: .75s;
  animation-duration: .75s
}